#{extends 'main.html' /}
#{set title:'Polls-GT - Votar' /}

#{form @Encuestas.votar(idEncuesta), id:'formVotar', class:'form'}
    <legend>
        <h2>${encuesta.nombre}</h2>
        <p class="lead">
            ${encuesta.descripcion}
        </p>
    </legend>    
    
    <div class="control-group">
        #{if flash.contains("error-voto")}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>¡Error!</strong> ${flash.get("error-voto")}
        </div>
        #{/if}
        #{list items:candidatos, as: 'candidato'}
        <label class="radio">
            <input type="radio" name="opciones" id='${"inlineRadio"+candidato.id}' value="${candidato.id}"> ${candidato.nombre}
        </label>
        #{/list}
    </div>

    <div class="form-actions">       
        #{if flash.contains("error-email")}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>¡Error!</strong> ${flash.get("error-email")}
        </div>
        #{/if}        
        #{if flash.contains("error-repetido")}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>¡Email repetido!</strong> ${flash.get("error-repetido")}
        </div>
        #{/if} 
        <p>Para realizar tu voto, debes incluir un email válido.</p>
        <input id="email" name="email" class="input-xlarge" type="text" placeholder="Correo electrónico">
        <button type="submit" class="btn btn-primary">Votar</button>
        <br><a href="@{Encuestas.resultado(idEncuesta)}">Ver resultados</a>
    </div>
#{/form}
