#{extends 'main.html' /}
#{set title:'Polls-GT - Encuestas' /}

<div>
    <legend><h2>Encuestas abiertas</h2></legend>    
    <ul>
        #{list items:encuestas, as: 'encuesta'}
        <li>
            <div class="pull-right">
                <a class="btn btn-success" href="@{Encuestas.encuesta(encuesta.id)}">Votar</a>
                <a class="btn btn-link" href="@{Encuestas.resultado(encuesta.id)}">Ver resultados</a>
            </div>
            <h3>${encuesta.nombre}</h3>            
            <p class="lead">
                ${encuesta.descripcion}
            </p>
        </li>
        #{/list}        
    </ul>
</div>