#{extends 'main.html' /}
#{set title:'Polls-GT - Resultado' /}

<div>
    #{if flash.success}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>${flash.success}</strong>
    </div>
    #{/if}
    <legend>
        <h2>Resultados - ${encuesta.nombre}</h2>
        <p class="lead">
            ${encuesta.descripcion}
        </p>
    </legend>
    <div>
        #{list items:candidatos, as: 'candidato'}
        <div>
            <strong>${porcentajes.get(candidato.id)}%</strong> ${candidato.nombre} (${candidato.numeroVotos} votos)            
            <div class="progress">
                <div class="bar" style="width: ${porcentajes.get(candidato.id)}%;"></div>
            </div>                                     
        </div>
        #{/list}
        <h3>Total votos: ${encuesta.totalVotos}</h3>
    </div>
</div>
