#{extends 'main.html' /}
#{set title:'Polls-GT - Acerca' /}

<div>
    <legend><h2>Acerca de Polls-GT</h2></legend>    
    <p>
        <a href="@{Application.index()}">Polls-GT</a> es un simple gestor de encuestas online, desarrollado como 
        ejercicio por <a href="https://twitter.com/jobazalar">LoBo</a> para evitar el oxidamiento.
    </p>
</div>