#{extends 'main.html' /}
#{set title:'Polls-GT - Inicio' /}

<div class="jumbotron">
    <h1>Encuestas rápidas, simples y seguras</h1>
    <p class="lead">
        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    </p>
    <a class="btn btn-large btn-success" href="@{Encuestas.listar()}">
        Votar
    </a>
    <a class="btn btn-large" href="#crear">
        Crear
    </a>   
</div>